In [2]:
a= "Ranjan"
b= f"I am {a}"
print(b)
print(type(b))

I am Ranjan
<class 'str'>

In [21]:
a=str()
n=int(input("enter number: "))
for i in range(n):
    v=input("enter")
    a=a+v
print(a)
#     print(n,"x", i, "=", n*i)

enter number: 3
enterram
entershyam
enterraju
ramshyamraju

In [23]:
a="python"
for i in a:
    print("hello")

hello
hello
hello
hello
hello
hello

In [9]:
n=int(input("enter number "))
for i in range(2,n):
    if n%i==0:
        print(n,"is composite")
        break
else:
    print(n,"is prime")

enter number 6
6 is composite

In [4]:
a="Python"
for i in a:
    print(i,a,"hello")

P Python hello
y Python hello
t Python hello
h Python hello
o Python hello
n Python hello

In [2]:
def area(le,be):
    a=le*be
    print(a)
l=int(input("Enter l:"))
b=int(input("Enter b:"))
ab=area(l,b)
print(ab)

Enter l:2
Enter b:3
6
None

In [2]:
a="Hello World\n"
print(a)

Hello World

In [4]:
a="Python"
l=len(a)
print(a[5::-1])

nohtyP

In [14]:
#String formatting:

name=input("Enter name")
age=int(input("Enter age"))
fo= f"{name} {age}"
print(fo)

Enter nameRam
Enter age12
Ram 12

In [15]:
info=str()
for i in range(2):
    name=input("Enter name")
    age=int(input("Enter age"))
    fo= f"{name} {age}\n"
    info=info+fo
print(info)

Enter nameRam
Enter age34
Enter nameRanjan
Enter age324
Ram 34
Ranjan 324

In [27]:
a="Ram and Shyam are friends"
name=input("enter name:")
if name in a:
    print("Yes")
    print(a.count(name))

enter name:Ram
Yes
1

In [5]:
#Changing case:
a="Ram and ram Shyam are friends"
#a=a.lower()
data=a.upper()
name=input("enter name:")
#name=name.lower()
enterdata=name.upper()
if enterdata in data:
    print("Yes")
    print(data.count(enterdata))

enter name:raM
Yes
2

In [32]:
#Replacing in a string
a="Ram shyam rita sita gita"
name=input("Enter name=")
newname=input("Enter new name=")

b=a.replace(name,newname)#Replace garda original variable ma change garna mildaina
print("\n"+b)
print(a)

Enter name=Ram
Enter new name=Ranjan

Ranjan shyam rita sita gita
Ram shyam rita sita gita

In [38]:
a="Ram shyam gita"
c=a[4:9]
b=a[4:9].replace("shyam","RaJan")

print(b)
print(c)

RaJan
shyam

In [8]:
a="Python"
b=len(a)
print(a[:b:1])

Python

In [4]:
a="Hello I am Ranjan Pandey"
for i in a:
    print(i,end=" ")

H e l l o   I   a m   R a n j a n   P a n d e y