In [1]:
a=set()
type(a)

set

In [2]:
#Unique values
a={1,2,3,1,2,2,3,4,4,5}
print(a)

{1, 2, 3, 4, 5}

In [3]:
#Unordered
a={"Apple","Cat","Ball","Dog",1,4,0}
print(a)

{'Dog', 1, 0, 4, 'Cat', 'Apple', 'Ball'}

In [4]:
#Adding values in set
a={1,2}
a.add(3)
print(a)

{1, 2, 3}

In [5]:
#Adding multiple values
a=set()
n=int(input("Enter n: "))
for i in range(n):
    x=input("Enter value: ")
    a.add(x)
print(a)

Enter n: 3
Enter value: apple
Enter value: 2
Enter value: Ball
{'apple', 'Ball', '2'}

In [6]:
a=[1,2,2,3,3,1]
a=list(set(a))
a

[1, 2, 3]

In [8]:
a=set("12233114455")
a

{'1', '2', '3', '4', '5'}

In [12]:
#Set only contains immutable data type such as "Tuple" 
#inside it but doesnot contain mutable data type such as
#list, dictionary,set

a={(1,2,3,4),(1,23,4,5)}
print(a)

{(1, 2, 3, 4), (1, 23, 4, 5)}

In [20]:
a={1,2,3,6}
b={2,3,4,5}
print("Union -->",a.union(b))
print("Intersection -->" , a.intersection(b))
print("A diff B -->" , a.difference(b))
print("B diff A -->" , b.difference(a))

Union --> {1, 2, 3, 4, 5, 6}
Intersection --> {2, 3}
A diff B --> {1, 6}
B diff A --> {4, 5}

In [23]:
#Symmetric difference

#1st Method
a={1,2,3,6}
b={2,3,4,5}

c=a-b
d=b-a
print(c)
print(c.union(d))

{1, 6}
{1, 4, 5, 6}

In [24]:
#2nd method for Symmetric difference
a={1,2,3,6}
b={2,3,4,5}

c=a.union(b)
d=a.intersection(b)
print(c-d)

{1, 4, 5, 6}

In [36]:
#Joint and Disjoint
a={1,2,3}
b={2,3,4}
print(a.isdisjoint(b))

False

In [34]:
#Subset and Superset
a={1,2,3,4,5,6}
b={2,3,1}
print(a.issubset(b))
print(a.issuperset(b))

False
True