In [1]:
import mysql.connector as sql #Importing package
database=sql.connect(         #Connecting to database
    host="localhost",
    user="root",
    password="",
    database="broadwaysqldemo"
)
db=database.cursor()          # Connection hold garera bascha

In [4]:
# Selecting all data from profile table
db.execute("SELECT * FROM profile")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Hari Adhikari', 78, 98, 99, 75, 67, 455, 455, 85.0, 'A')
(2, 'Ram Panta', 55, 86, 76, 67, 78, 388, 388, 79.0, 'B+')

In [8]:
# Selecting certain data from profile table
db.execute("SELECT `Sn`, `name`, `physics`, `chemistry`, `maths`, `english` FROM profile WHERE 1")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Hari Adhikari', 78, 98, 99, 75)
(2, 'Ram Panta', 55, 86, 76, 67)

In [24]:
db.execute("SELECT `Sn`, `name`, `physics`, `chemistry`, `maths`, `english`,`grade` FROM profile WHERE maths>20")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Hari Adhikari', 78, 98, 99, 75, 'A')
(2, 'Ram Panta', 55, 86, 76, 67, 'B+')

In [40]:
db.execute("SELECT `Sn`, `name`, `physics`, `chemistry`, `maths` from profile where grade='A'")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Hari Adhikari', 78, 98, 99)

In [8]:
# Checking condition in data using LIKE
db.execute("SELECT * FROM profile WHERE bio LIKE '%good%'")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Hari Adhikari', 78, 98, 99, 75, 67, 455, 85.0, 'A', 'He is good boy')

In [22]:
# Insert in database
sqlquery="INSERT INTO profile (name,physics,chemistry,maths,english,nepal,total,percentage,grade,bio) VALUES ('Rasmika',89,65,89,98,78,467,89.09,'A','Good Result')"
db.execute(sqlquery)
database.commit()
print(db.rowcount,"record inserted.")

1 record inserted.

In [23]:
# Dynamic insert in sql
n=int(input("Enter n: "))
for i in range(n):
    name=input("Enter name: ")
    phy=int(input("Enter physics marks: "))
    che=int(input("Enter chemistry marks: "))
    math=int(input("Enter  math marks: "))
    eng=int(input("Enter english marks: "))
    nep=int(input("Enter nepali marks: "))
    total=sum([phy,che,math,eng,nep])
    per=total/5
    if per>=80:
        grade='A'
    elif per >= 60:
        grade='B'
    elif per >=45:
        grade='C'
    else:
        grade='D'
    bio=input("Enter bio: ")
    sql=f"INSERT INTO profile(name,physics,chemistry,maths,english,nepal,total,percentage,grade,bio) VALUES ('{name}',{phy},{che},{math},{eng},{nep},{total},{per},'{grade}','{bio}')"
    db.execute(sql)
database.commit()
print(db.rowcount,"record inserted.")

Enter n: 1
Enter name: Ranjan
Enter physics marks: 87
Enter chemistry marks: 78
Enter  math marks: 97
Enter english marks: 87
Enter nepali marks: 78
Enter bio: Keep it up
1 record inserted.

In [24]:
print(sql)

INSERT INTO profile(name,physics,chemistry,maths,english,nepal,total,percentage,grade,bio) VALUES ('Ranjan',87,78,97,87,78,427,85.4,'A','Keep it up')

In [3]:
# Update
Sn=int(input("Enter SN:"))
name=input("Enter name: ")
sql=f"UPDATE profile SET name = '{name}' WHERE sn = {Sn}"
print(sql)
db.execute(sql)
database.commit()
print(db.rowcount,"Record updated.")

Enter SN:1
Enter name: Hari Adhikari
UPDATE profile SET name = 'Hari Adhikari' WHERE sn = 1
1 Record updated.

In [7]:
# DELETE 
sql="DELETE FROM profile WHERE name='Ram Panta'"

In [10]:
# Dynamic Deleting
Sn=int(input("Enter SN:"))
sql=f"DELETE FROM profile WHERE Sn = {Sn}"
print(sql)
db.execute(sql)
database.commit()

Enter SN:2
DELETE FROM profile WHERE Sn = 2

In [16]:
# Assignment 3:
id=int(input("Enter SN: "))
subject=int(input("Enter subject name(phy,che,math,eng,nep) i.e. (0,1,2,3,4):"))
if(subject == 0):
    sub="physics"
elif(subject == 1):
    sub="chemistry"
elif(subject == 2):
    sub="maths"
elif(subject == 3):
    sub="english"
else:
    sub="nepal"
marks=int(input("Enter Marks in the subject: "))

#Fetching data
db.execute(f"SELECT physics,chemistry,maths,english,nepal FROM profile WHERE Sn= {id}")
result=db.fetchall()
l=list(result[0])
print(l)

l[subject] = marks
total=sum(l)
per=total/5


# UPDATE QUERY
sql=f"UPDATE profile SET {sub}={marks}, total={total}, percentage={per} WHERE Sn={id}"
print(sql)
db.execute(sql)
database.commit()

Enter SN: 1
Enter subject name(phy,che,math,eng,nep) i.e. (0,1,2,3,4):1
Enter Marks in the subject: 76
[100, 100, 78, 75, 67]
UPDATE profile SET chemistry=76, total=396, percentage=79.2 WHERE Sn=1